@font-face {
    font-family: 'BLACKPAST';
    src: url(../fonts/file.otf);
}

@font-face {
    font-family: 'LUFGA-MEDIUM';
    src: url(../fonts/Lufga-Medium.otf);
}

@font-face {
    font-family: 'LUFGA-LIGHT';
    src: url(../fonts/file-lfglght.otf);
}

@font-face {
    font-family: 'LUFGA-THIN';
    src: url(../fonts/Lufga-Thin.otf);
}

@font-face {
    font-family: 'COCOGOOSE';
    src: url(../fonts/Cocogoose\ Pro-trial.ttf);
}

@font-face {
    font-family: 'COCOGOOSE-SEMILIGHT';
    src: url(../fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
}

/*-============================ RUTAS ===========================-*/
:root {
    --nav-height: 7rem;

    /*-------- Color Textos ----------*/

    --primary-color-white: white;
    --primary-color-vivid-cyan: hsl(185.5, 99.2%, 52.2%);
    --primary-color-vivid-blue: hsl(206.6, 89.7%, 54.1%);
    --primary-background-gradient-blue: linear-gradient(90deg, #0cfcfe 0%, #2196f3 100%);
    --primary-background-hoover-gradiente-orange: linear-gradient(90deg, #F3A22E 0%, hsl(42, 78%, 58%) 100%);
    --secondary-color-content: rgba(245, 245, 245, 0.921);

    /*-------- Tamaño y funte de titulos y textos ----------*/

    --principal-title-size: 2.25rem;
    --principal-title-font: 'BLACKPAST', sans-serif;
    --secondary-title-size: 2.25rem;
    --secondary-title-font: 'LUFGA-MEDIUM', sans-serif;
    --content-size: 1.5rem;
    --content-font: 'LUFGA-LIGHT', sans-serif;

    /*-------- Peso de titulos y subtitulos ----------*/

    --font-medium: 500;
    --font-bold: 700;
    /*--------- Margenes Bottom -------*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*--------- Padding Mobile -------*/

    --padding-nav: 1rem;
    --padding-content: 2rem;

    /*------- z index ------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/*-============================ RESETEO ===========================-*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}


/*-============================ HEADER ===========================-*/
/* ( primeros 100 vh ) */

header {
    height: 100vh;
    background-image: url(../images/nutrition/nutrition-wp.jpg);
    background-repeat: no-repeat;
    background-position: 75% 25%;
    background-size: cover;
    border: none;
    padding: var(--padding-nav);
}

#header.change {
    background-image: none;
    background-color: black;
}

/*-============================ NAVEGACION ===========================-*/

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    height: 180px;
}

/*=======- cambio de apariencia al click de la hamburguesa -===========*/
#hamburger button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
}

#hamburger button span {
    border-radius: 5px;
    background: var(--primary-background-gradient-blue);
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hamburger button.open .top-line {
    animation-name: top-line-animation;
}

#hamburger button.open .middle-line {
    animation-name: middle-line-animation;
}

#hamburger button.open .bottom-line {
    animation-name: bottom-line-animation;
}

#hamburger button .top-line {
    animation-name: top-line-animation-close;
}

#hamburger button .middle-line {
    animation-name: middle-line-animation-close;
}

#hamburger button .bottom-line {
    animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {

    50%,
    100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}

@keyframes middle-line-animation {

    20%,
    100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes bottom-line-animation {

    50%,
    100% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}

@keyframes top-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }

    50%,
    100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle-line-animation-close {
    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }

    20%,
    100% {
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}

@keyframes bottom-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }

    50%,
    100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

/*=======- fin -===========*/


#nav-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    background-color: black;
    text-align: center;
    transition: all .5s;
    z-index: 0;
}

#nav-menu.show {
    display: block;
}

#nav-menu li {
    display: block;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    z-index: 0;
}

#nav-menu.show {
    display: block;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    z-index: 0;
}

#nav-menu>li>a {
    color: white;
    font-family:var(--principal-title-font);
    font-weight: 600;
    z-index: 0;
    font-size: var(--content-size);
}

#nav-menu li a.active,
#nav-menu li a:hover {
    color: var(--primary-color-vivid-cyan);
    transition: .3s;
}

/*-============================ NAVEGACION ===========================-*/

main{
    background-image: url(../images/nutrition/section-nut-wp.jpg);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

form{
    max-width: 500px;
    font-family: var(--content-font);
    font-size: var(--content-size);
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.469);
    gap: 5px;
    border-radius: 15px;
    color: white;
    padding: 1rem;
    border: #0cfcfe .3px solid;
}

form div{
    margin: 15px 10px 15px 10px;
    background-image: url(./images/fondo-servicios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
}

.primer-div{
    margin-top: 20px;
}