@font-face {
    font-family: 'BLACKPAST';
    src: url(../fonts/file.otf);
}

@font-face {
    font-family: 'LUFGA-MEDIUM';
    src: url(../fonts/Lufga-Medium.otf);
}

@font-face {
    font-family: 'LUFGA-LIGHT';
    src: url(../fonts/file-lfglght.otf);
}

@font-face {
    font-family: 'LUFGA-THIN';
    src: url(../fonts/Lufga-Thin.otf);
}

@font-face {
    font-family: 'COCOGOOSE';
    src: url(../fonts/Cocogoose\ Pro\ Italic-trial.ttf);
}
@font-face {
    font-family: 'COCOGOOSE-SEMILIGHT';
    src: url(../fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
}

/*-============================ RUTAS ===========================-*/
:root {
    --nav-height: 7rem;

    /*-------- Color Textos ----------*/

    --primary-color-white: white;
    --primary-color-vivid-cyan: hsl(185.5, 99.2%, 52.2%);
    --primary-color-vivid-blue: hsl(206.6, 89.7%, 54.1%);
    --primary-background-gradient-blue: linear-gradient(90deg, #0cfcfe 0%, #2196f3 100%);
    --primary-background-hoover-gradiente-orange: linear-gradient(90deg, #F3A22E 0%, hsl(42, 78%, 58%) 100%);
    --secondary-color-content: rgba(245, 245, 245, 0.921);

    /*-------- Tamaño y funte de titulos y textos ----------*/

    --principal-title-size: 2.25rem;
    --principal-title-font: 'BLACKPAST', sans-serif;
    --secondary-title-size: 2.25rem;
    --secondary-title-font: 'LUFGA-MEDIUM', sans-serif;
    --content-size: 1.5rem;
    --content-font: 'LUFGA-LIGHT', sans-serif;

    /*-------- Peso de titulos y subtitulos ----------*/

    --font-medium: 500;
    --font-bold: 700;
    /*--------- Margenes Bottom -------*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*--------- Padding Mobile -------*/

    --padding-nav: 1rem;
    --padding-content: 2rem;

    /*------- z index ------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/*-============================ RESETEO ===========================-*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}


/*-============================ HEADER ===========================-*/
/* ( primeros 100 vh ) */

header {
    height: 100vh;
    background-image: url(../images/prices/prices-wp.png);
    background-repeat: no-repeat;
    background-position: 75% 25%;
    background-size: cover;
    border: none;
    padding: var(--padding-nav);
}

#header.change {
    background-image: none;
    background-color: black;
}

/*-============================ NAVEGACION ===========================-*/

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    height: 180px;
}

/*=======- cambio de apariencia al click de la hamburguesa -===========*/
#hamburger button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
}

#hamburger button span {
    border-radius: 5px;
    background: var(--primary-background-gradient-blue);
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hamburger button.open .top-line {
    animation-name: top-line-animation;
}

#hamburger button.open .middle-line {
    animation-name: middle-line-animation;
}

#hamburger button.open .bottom-line {
    animation-name: bottom-line-animation;
}

#hamburger button .top-line {
    animation-name: top-line-animation-close;
}

#hamburger button .middle-line {
    animation-name: middle-line-animation-close;
}

#hamburger button .bottom-line {
    animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {

    50%,
    100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}

@keyframes middle-line-animation {

    20%,
    100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes bottom-line-animation {

    50%,
    100% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}

@keyframes top-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }

    50%,
    100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle-line-animation-close {
    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }

    20%,
    100% {
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}

@keyframes bottom-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }

    50%,
    100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

/*=======- fin -===========*/


#nav-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    background-color: black;
    text-align: center;
    transition: all .5s;
    z-index: 0;
}

#nav-menu.show {
    display: block;
}

#nav-menu li {
    display: block;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    z-index: 0;
}

#nav-menu.show {
    display: block;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    z-index: 0;
}

#nav-menu>li>a {
    color: white;
    font-family:var(--principal-title-font);
    font-weight: 600;
    z-index: 0;
    font-size: var(--content-size);
}

#nav-menu li a.active,
#nav-menu li a:hover {
    color: var(--primary-color-vivid-cyan);
    transition: .3s;
}

/*=======- INICIA EL SECTION -===========*/

section{
    background-image: url(../images/prices/plans-wp.svg);
    background-size: cover;
    background-position: center;
    background-color: black;
    padding-bottom: 3.2rem;
}
.aside2 {
    display: grid;
    margin-left: 15px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.aside2 h3 {
    color: var(--primary-color-white);
    font-family: var(--principal-title-font);
    text-shadow: .2px .2px rgb(0, 0, 0, .60);
    font-size: var(--principal-title-size);
    font-weight: 400;
    grid-column: 2/5;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;

}

.aside2 .div-planes {

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    grid-column: 2/5;
    grid-row: 2/5;
    display: flex;
    display: grid;
    grid-template-columns: 240px 15% 240px 15% 240px 15% 240px 15%;
    font-family: var(--content-font);
}


.aside2 .div-planes::-webkit-scrollbar {
    width: 12px;
}

.aside2 .div-planes::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(231, 225, 225, 0.312);
    border-radius: 10px;
}

.webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(251, 250, 250, 0.391);
}

.aside2 img {

    position: relative;
    margin: 2px 6px;
    width: 130px;
    height: 130px;
    align-self: center;
}



.estandar {
    grid-column: 1/1;
    grid-row: 2;
    width: 247.97px;
    height: 475.92px;
    background: url(../images/home/estandar-plan.svg);
    background-size: cover;
    border-radius: 3%;
    text-align: center;
    object-fit: contain;
    color: black;
}
.estandar h1{
    font-size: 40px;
    color: var(--primary-color-white);
    font-family: 'COCOGOOSE', sans-serif;
    margin-top:10px;
    margin-left: 20px;
    margin-bottom: 90px;
    text-shadow: 1px 2px rgb(0, 0, 0, 5);
}
.estandar strong{
    font-size: 13px;
    text-transform: uppercase;
    color: var(--primary-color-vivid-cyan);
    margin-right: 70px;
}
.estandar div {
    margin-left: 50px;
    margin-top: 15px;
    width: 160px;
    height: auto;
    font-family: var(--content-font);
    font-size: 15px;
    text-align:center;
    margin-bottom: 22px;
}
.estandar small{
    margin-left: 20px;
    font-weight: 100;
    font-size: 12.5px; 
}
.estandar h2{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 10px;
    color: var(--primary-color-white);
    font-family: var(--secondary-title-font);
    text-transform: uppercase;
    font-size: 19px;
}
.estandar a{
    margin-left: 25px;
}




.salud {
    grid-column: 3/3;
    grid-row: 2;
    width: 247.97px;;
    height: 475.92px;
    border-radius: 3%;
    background-image: url(../images/home/health-plan.svg);
    background-size: cover;
    text-align: center;
    object-fit: contain;
    color: black;
}
.salud h1{
    font-size: 40px;
    color: var(--primary-color-white);
    font-family: 'COCOGOOSE', sans-serif;
    margin-top:10px;
    margin-left: 20px;
    margin-bottom: 90px;
    text-shadow: 1px 2px rgb(0, 0, 0, 5);
}
.salud strong{
    font-size: 13px;
    text-transform: uppercase;
    color: #75e809;
    margin-right: 70px;
}
.salud div {
    margin-left: 50px;
    margin-top: 15px;
    width: 160px;
    height: auto;
    font-family: var(--content-font);
    font-size: 15px;
    text-align:center;
    margin-bottom: 22px;
}
.salud small{
    margin-left: 20px;
    font-weight: 100;
    font-size: 12.5px; 
}
.salud h2{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 10px;
    color: var(--primary-color-white);
    font-family: var(--secondary-title-font);
    text-transform: uppercase;
    font-size: 19px;
}
.salud a{
    margin-left: 25px;
}



.imagen {
    grid-column: 5/5;
    grid-row: 2;
    width: 247.97px;;
    height: 475.92px;
    border-radius: 3%;
    background: url(../images/home/fitness-plan.svg);
    background-size: cover;
    text-align: center;
    object-fit: contain;
    color: black;
}
.imagen h1{
    font-size: 40px;
    color: var(--primary-color-white);
    font-family: 'COCOGOOSE';
    margin-top:10px;
    margin-left: 20px;
    margin-bottom: 90px;
    text-shadow: 1px 2px rgb(0, 0, 0, 5);
}
.imagen strong{
    font-size: 13px;
    text-transform: uppercase;
    color: purple;
    margin-right: 70px;
}
.imagen div {
    margin-left: 50px;
    margin-top: 15px;
    width: 160px;
    height: auto;
    font-family: var(--content-font);
    font-size: 15px;
    text-align:center;
    margin-bottom: 22px;
}
.imagen small{
    margin-left: 20px;
    font-weight: 100;
    font-size: 12.5px; 
}
.imagen h2{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 10px;
    color: var(--primary-color-white);
    font-family: var(--secondary-title-font);
    text-transform: uppercase;
    font-size: 19px;
}
.imagen a{
    margin-left: 25px;
}



.rendimiento {
    grid-column: 7/7;
    grid-row: 2;
    width: 247.97px;;
    height: 475.92px;
    border-radius: 3%;
    background: url(../images/home/performance-plan.svg);
    background-size: cover;
    text-align: center;
    object-fit: contain;
    color: black;
}
.rendimiento h1{
    font-size: 40px;
    color: var(--primary-color-white);
    font-family: 'COCOGOOSE';
    margin-top:10px;
    margin-left: 20px;
    margin-bottom: 90px;
    text-shadow: 1px 2px rgb(0, 0, 0, 5);
}
.rendimiento strong{
    font-size: 13px;
    text-transform: uppercase;
    color: orange;
    margin-right: 70px;
}
.rendimiento div {
    margin-left: 50px;
    margin-top: 15px;
    width: 160px;
    height: auto;
    font-family: var(--content-font);
    font-size: 15px;
    text-align:center;
    margin-bottom: 22px;
}
.rendimiento small{
    margin-left: 20px;
    font-weight: 100;
    font-size: 12.5px; 
}

.rendimiento h2{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 10px;
    color: var(--primary-color-white);
    font-family: var(--secondary-title-font);
    text-transform: uppercase;
    font-size: 19px;
}
.rendimiento a{
    margin-left: 25px;
}

/*--===============================  SETEO CONTACTO  =================================--*/

.contacto{
    background-image:url(../images/home/contact-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.contacto h3{
    font-family: var(--secondary-title-font);
    text-transform: uppercase;
    font-size: var(--secondary-title-size);
    color: var(--primary-color-vivid-blue);
    margin-bottom: var(--mb-2);
}
.contacto h4{
    font-family: 'LUFGA-THIN', sans-serif;
    text-transform: uppercase;
    font-size: var(--secondary-title-size);
    color: var(--secondary-color-content);
    margin-bottom: var(--mb-2);
}
.contacto p{
    color: var(--secondary-color-content);
    font-size: var(--content-size);
    font-family: var(--content-font);
}
.contacto img{
    width: 160px;
}
.redes-y-contacto-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2rem auto 2rem auto;
    align-self: center;
}

.redes{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.redes div{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.redes i{
    font-size: 20px;
}
.direccion-y-redes{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    order: 3;
    margin-top: 2.5rem;
}
.direccion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form{
    width: 300px;
    height: auto;
    order: 1;
}

.contact-form input{
    border-radius: 10%;
    width: 300px;
    height: 35px;
    margin-top: 10px;
}
#mensaje-mail{
    height: 200px;
}

.redes-y-contacto-div hr{
    display: none;
}
.btn-form-enviar{
align-self: center;
display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 40px;
font-family: 'LUFGA', sans-serif;
font-size: 13px;
object-fit: contain;
background: linear-gradient(90deg, #0cfcfe 0%, #2196f3 100%);
color: black;
border-radius: 25px;
margin-left: auto;
margin-right: auto;
border: none;
}
/*--===============================  SETEO FOOTER  =================================--*/
footer{
    height: auto;
    background-image: url(../images/home/turquesa-footer-fondo.png);
    background-position: top;
    background-repeat: no-repeat;
    padding: 3rem;
    color: var(--secondary-color-content);
    font-family: sans-serif;
    font-size: var(--content-size);
}
footer p{
    margin-top: var(--mb-1);
}

.contenedor-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: auto;
    margin-right: auto;
}


.contenedor-footer img{
   margin-top: 3rem;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   max-width: 210px;
   
}
@media screen and ( min-width: 401px){
    footer{
        background-image: url(../images/home/FOOTER-02.png);
        background-position: top;
        background-repeat: no-repeat;
        background-color: black;
    }
}
